/* my first css*/

body {
    font-family: fantasy;
    background-color: #107361;
    text-align: center;
    color:#042326;
    line-height: 3rem;
    font-size: 2rem;
}
img {
    border: 5px solid #042326;
}
h1 {
    border: 3px solid #042326;
    
}
blockquote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 2rem;
    font-style: italic;
    text-align: center;
}
cite {
    font-weight: bold;
}
/*This is a class example*/
.bigbold {
    font-weight: bold;
    font-size: 1.5rem;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #042326;
}
a:hover {
    color:#0A3A40
}